In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import dynamics as Sim
%matplotlib inline

A = np.matrix('-10, -4; -3, -7')
B = np.matrix('16;16')

In [22]:

sim1 = Sim.NC(A,B)
data1 = sim1.run_simulation()
data1
sim2 = Sim.FC(A,B)
data2 = sim2.run_simulation()

sim3 = Sim.SidePayment(A,B)
data3 = sim3.run_simulation()

In [23]:
data1.tail(1)

,barx1,barx2,dx1,dx2,x1,x2,beta1,beta2,V1,V2,Social Welfare
9999,0.597015,1.014925,0,0,0.597015,1.014925,0,0,3.564268,7.210515,10.774783

In [24]:
data2.tail(1)

,barx1,barx2,dx1,dx2,x1,x2,beta1,beta2,V1,V2,Social Welfare
9999,0.484848,0.900433,0,0,0.484848,0.900433,0,0,3.660501,7.42175,11.082251

In [25]:
data3.tail(1)

,barx1,barx2,dx1,dx2,x1,x2,beta1,beta2,V1,V2,Social Welfare
9999,0.597015,1.014925,-0.112166,-0.114492,0.484848,0.900433,1,1,3.74145,7.340801,11.082251